<article class="product-item" >
    <img src="<%= product.imageURL %>" alt="<%= product.title %>">
    <div class= "product-item-content" >
        <h3><%= product.title %></h3>
        <div class="product-item-action" >
            <% if(locals.isAdmin){ %>
                <a href="/admin/products/<%= product.id %>" class="btn" >View and edit</a>
                <button class="btn" data-id="<%= product.id %>" data-csrf="<%= locals.csrfToken %>" >Delete</button>
            <% } else { %>
                <a href="/products/<%= product.id %>" class="btn" >View Details</a>
            <% } %>
        </div>
    </div>
</article>